.title{
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    font-family: "Montserrat";
}
.logCard {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login{
    display: grid;
    text-align: left;
    padding: 40px;
    gap:15px;
}
.user-ID{
    background: rgba(125, 176, 187, 0.5);
    border-radius: 10px;
    border-style: none;
    font-family: "Montserrat";
    font-weight: 900;
    height: 25px
}
.buttonSignIn{
    width: 250px;
    height: 70px;
    border-style: none;

    background: rgba(125, 176, 187, 0.75);
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.buttonSignIn:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5)
}
.forget{
    border: 0px;
    background-color: #f7f7f7;
    color:  #0085FF;
    font-family:"Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    justify-self: left;
    cursor: pointer;
    text-decoration: underline;
}
