/*
Author: José Benjamín Ruiz García
Styles for buttons in the Recordings Card
*/

.button {
  background-color: #f7f7f7;
  width: 40px;
  height: 30px;
  border-width: 0px;
  align-items: center;
  cursor: pointer;
}

.carousel-recordings{
  margin: 16px auto 0 auto;
  width: 95%;
}
.carousel-recordings .card{
  margin-right: 16px;
  padding: 0;
  border-radius: 5px;
  max-width: 380px;
}
.carousel-recordings .card .video-info{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.carousel-recordings .card .video-info p{
  margin: 0 0 8px 0;
}
.slick-list{
  padding: 8px !important;
}
.slick-next{
  right: -5px !important;
}
.slick-prev{
  left: -5px !important;
}

