/*
Author: José Benjamín Ruiz García
Styles for buttons in the Recordings Card
*/

.button {
  background-color: var(--card-color);
  width: 40px;
  height: 30px;
  border-width: 0px;
  align-items: center;
  cursor: pointer;
  color: var(--text-primary);
}

.recordings-filters {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 24px auto;
  padding: 8px;
  background-color: var(--card-color);
  border-radius: 5px;
  box-shadow: var(--shadow);
}
.recordings-filters > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.recordings-filters > div input {
  background: hsl(0, 0%, 100%);
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  font-family: "Montserrat";
  font-weight: 900;
  min-height: 40px;
  max-height: 40px;
  padding: 8px;
  margin-right: 8px;
  box-sizing: border-box;
}
.recordings-filters > div .btn-main {
  margin: 0;
  width: 150px;
  padding: 10px;
  font-size: 16px;
}
.recordings-filters div .input-filters {
  min-width: 340px;
  max-width: 340px;
  margin: 8px;
}

.carousel-recordings {
  margin: 16px auto 0 auto;
  width: 95%;
}
.carousel-recordings .card {
  margin-right: 16px;
  padding: 0;
  border-radius: 5px;
  max-width: 380px;
  max-height: none;
}
.carousel-recordings .card .video-info {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.carousel-recordings .card .video-info p {
  margin: 0 0 8px 0;
}
.slick-list {
  padding: 8px !important;
}
.slick-next {
  right: -5px !important;
}
.slick-prev {
  left: -5px !important;
  z-index: 2 !important;
}

.slick-next:before {
  content: "→";
  color: var(--text-secondary) !important;
}

.slick-prev:before {
  content: "→";
  color: var(--text-secondary) !important;
}

@media (max-width: 450px) {
  .carousel-recordings .card {
    max-width: 320px;
    min-width: 320px;
  }
}
@media (max-width: 390px) {
  .carousel-recordings .card {
    max-width: 280px;
    min-width: 280px;
  }
}
@media (max-width: 340px) {
  .carousel-recordings .card {
    max-width: 260px;
    min-width: 260px;
  }
}
