.client-name {
  font-size: 20px;
  font-weight: 900;
  font-family: "Montserrat";
  text-decoration-line: underline;
  text-decoration-color: rgba(0, 0, 0, 0.6);
  text-decoration-thickness: 2px;
  text-underline-offset: 30px;
  line-height: 60px;
  text-align: left;
  padding-left: 70px;
}

.client-info {
  font-size: 15px;
  font-family: Montserrat;
  text-align: left;
  padding: 30px 0px 0px 70px;
}

.client .user-ID{
  float: right;
  padding-right: 60px;
}

.disabled{
  color: rgba(125, 176, 187);
}

.client .button {
  background-color: #0799E6;
  width: auto;
  font-size: 16px;
  padding: 3px 16px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .8s;
  margin-top: 10px;
}

.client .button:hover{
  background-color: #0463B9;
  transition: .8s;
}

.client .refresh{
  margin-right:90px;
}

.client .button-reset {
  background-color: #0799E6;
  width: auto;
  font-size: 16px;
  padding: 3px 16px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .8s;
  margin-top: 20px;
  display:inline-block;
}

.client .button-reset:hover{
  background-color: #02529c;
  transition: .8s;
}
