.user-image {
  max-width: 25%;
  border-radius: 50%;
  float: left;
}

.user-name {
  font-size: 20px;
  font-weight: 900;
  line-height: 60px;
  font-family: "Montserrat";
  text-decoration-line: underline;
  text-decoration-color: rgba(0, 0, 0, 0.6);
  text-decoration-thickness: 3px;
  text-underline-offset: 30px;
}

.user-info {
  font-size: 15px;
  font-family: Montserrat;
  padding: 30px 0px 0px 125px;
}
