.user-image {
  max-width: 25%;
  border-radius: 50%;
  float: left;
}

.user-name {
  font-size: 20px;
  font-weight: 900;
  line-height: 60px;
  font-family: "Montserrat";
  text-decoration-line: underline;
  text-decoration-color: rgba(0, 0, 0, 0.6);
  text-decoration-thickness: 3px;
  text-underline-offset: 30px;
}

.user-info {
  font-size: 15px;
  font-family: Montserrat;
  padding: 30px 0px 0px 125px;
}

.user .button {
  background-color: #0799E6;
  width: auto;
  font-size: 16px;
  padding: 8px 16px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .8s;
  margin-top: 10px;
}

.user .button:hover{
  background-color: #0463B9;
  transition: .8s;
}

.user .button-reset {
  background-color: #0799E6;
  width: auto;
  font-size: 16px;
  padding: 3px 16px;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .8s;
  margin-top: 10px;
  margin-left: 230px;
}

.user .button-reset:hover{
  background-color: #02529c;
  transition: .8s;
}

.user .title{
  margin-top: 20px;
}