.tarjeta-categorias-problemas {
  position: absolute;
  min-width: 500px;
  min-height: 500px;
  left: 384px;
  top: 105px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 1) 0px 8px 24px;
}
