.agent-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #fff, #0799E6,#0463B9);
}

.agent-container .board{
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;

}

.agent-container .board-menu{
  width: 500px;
}
