.agent-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom left, #fff, #0799E6,#0463B9);
  justify-content: space-around;
  flex-wrap: wrap;
}

.agent-container .board{
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.agent-container .board-menu{
  max-width: 390px;
}
