.agent-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 95vh;
  background: var(--background);
  flex-wrap: wrap;
}

.agent-container .board{
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.agent-container .board-menu{
  max-width: 390px;
}
