/*
  Author: Maria Fernanda Ramirez Barragan
  Description: css for each component in ManagerCards
*/

@import url('./PersonalizedFonts.css');

.manager-container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #fff, #0799E6, #0463B9);
}

.manager-container h1{
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-weight: normal;
    font-family: Montserrat;
    font-size: 60px;
    margin: 0 0 0 10px;
    display: flex;
}

.manager-dashboard-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    min-height: 95vh;
}

.user-settings{
    display: flex;
    min-height: 95vh;
}
.user-settings .card {
    margin: 32px 0;
    min-height: 380px;
}

.user-profile{
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-items: center;
}

.user-profile .card {
    min-width: 70%;
}

.manager-dashboard-container .board{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#manager-agents-menu{
    max-height: 85vh;
}


.agent-title{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
}

.agent-info{
    border: 1px solid #000;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
}

.agent-name{
    font-size: 13px;
    color: #000;
}

.person-info{
    margin-left: 50px;
    width: 100%;
}

.profile-info{
    display: flex;
}

.profile-info img{
    width: 150px;
}

.profile-card{
    width: 80%;
    height: 100%;
}

.personal-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}