/*
  Author: Maria Fernanda Ramirez Barragan
  Description: css for each component in ManagerCards
*/

@import url('./PersonalizedFonts.css');

.manager-container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #fff, #0799E6, #0463B9);
}

.manager-container h1{
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    font-weight: normal;
    font-family: Montserrat;
    font-size: 60px;
    margin: 0 0 0 10px;
    display: flex;
}

.manager-dashboard-container{
    display: flex;
    padding: 25px;
}
.agent-title{
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
}

.agent-info{
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
    width: 200px;
}

.agent-name{
    font-size: 10px;
    color: #000;
}
