.nav-links {
    color:#8484A0;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-bottom: 1.5px solid transparent;
}

.nav-links:hover {
    border-bottom: 1.5px solid black;
    
}

@media (max-width:700px) {
    .nav-links {
        padding: 0.5rem 0.5rem;
    }
}