/* 
  Author: Diego Armando Ulibarri Hernández
  Description: Css file containing all
  component styles

  Usage: To use this css file, you need to
  import the file in each js component that
  needs it 
*/

/* Fonts */
@import url("./PersonalizedFonts.css");

/* Navbar Styles */
@import url("./NavBar/NavBar.css");
@import url("./NavBar/DropDown.css");

/* Agent Cards Styles */
@import url("./AgentCards/Card.css");
@import url("./AgentCards/ProblemCategoryList.css");
@import url("./AgentCards/QuestionList.css");

/* User Card Styles */
@import url("./UserCard/UserCard.css");
/* Agent View */
@import url("./AgentMain.css");
/* Sales Card Styles */
@import url("./SalesCard/SalesCard.css");
/* Menu */
@import url("./Menu/Menu.css");
/* Login */
@import url("./LogIn/LogIn.css");
/* Recordings Card Styles */
@import url("./Recordings/Recordings.css");
/* Manager View */
@import url("./ManagerMain.css");
/* Log In */
@import url("./LogIn/LogIn.css");
