/*
Author: Renata de Luna
Description: Css file with the styles for Sales Card.
*/

/*.product-card{ 
    width: max-content;
    height: max-content;
    padding: 15px;
    padding-right: 25px;
    background: #F7F7F7;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}*/
.product-card{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.product-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.product-header img{
    border-radius: 50%;
    margin-right: 8px;
    max-width: 150px;
}
.product-header button {
    background-color: #0799E6;
    font-size: 16px;
    padding: 8px 16px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .8s;
}
.product-header button:hover{
    background-color: #0463B9;
    transition: .8s;
}

.product-name{
    font-size: x-large;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.44px;
    color: #000000;
    margin: 0 0 8px 0;
}

.product-price{
    font-size: x-large;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #197D1D;
    margin: 0 0 8px 0;
}

.product-description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

.add-button{
    margin-right: 1em;
}