/* 
Author: Maria Fernanda Ramirez Barragan

Dropdown menu style sheet
*/

.dropdown-menu {
  width: 100px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 50%);
  height: 80px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 5px 0 0 0;
  padding: 0;
  right: 8px;
  justify-content: space-evenly;
  border-radius: 10px;
}
.dropdown-menu::before {
  content: "";
  width: 0;
  position: absolute;
  right: 23px;
  top: -15px;
  height: 0;
  margin: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid #fff;
}
.dropdown-menu a {
  color: #000;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 5%);
  border-radius: 10px;
}
.nav-links {
  color: #8484a0;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-bottom: 1.5px solid transparent;
}

.nav-links:hover {
  border-bottom: 1.5px solid black;
  color: #000;
}

@media (max-width: 700px) {
  .dropdown-menu::before {
    right: 16px;
  }
  .nav-links {
    padding: 0.5rem 0.5rem;
  }
}
