.categorys {
  border-bottom: 1px solid #000000;
}
.title {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  font-family: "Montserrat";
}
.categorys button{
  font-family: Montserrat;
  font-size: 16px;
  min-height: 30px;
  min-width: 100%;
  text-align: center;
  letter-spacing: 0.44px;
  border: none;
  outline: none;
  background-color: #f7f7f7;
  cursor: pointer;
}
