.categorys {
  border-bottom: 1px solid darkgray;
  margin: 4px 0;
}
.categorys .categorys-active{
  font-weight: bold;
  background-color: rgb(242, 242, 242);
}

.title {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  font-family: "Montserrat";
}
.categorys button{
  font-family: Montserrat;
  font-size: 16px;
  min-height: 32px;
  min-width: 100%;
  text-align: center;
  letter-spacing: 0.44px;
  border: none;
  outline: none;
  background-color: #f7f7f7;
  cursor: pointer;
  padding: 0;
}
.categorys button:hover{
  font-weight: bold;
  background-color: rgb(242, 242, 242);
}
