.container-questions {
  display:contents;
  gap: 10px
}
.container-question {
  border-radius: 2px;
  /*box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);*/
  border: 1px solid darkgray;
  cursor: pointer;
  margin: 16px 0;
  transition-duration: 0.4s;
}
.container-question:hover {
  transition-duration: 0.4s;
  background-color: azure;
  color: var(--text-contrary);
}
.question {
  font-family: 'Montserrat';
  font-size: 16px;
  padding: 8px;
  margin: 0;
  text-align: left;
}
.title {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  font-family: "Montserrat";
  margin: 0;
}
.answers {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 15px;
  text-align: left;
  padding-left: 20px;
}