.modal-bg-add{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
}

.modal-card{
  background-color: var(--card-color);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.modal-card textarea::placeholder {
  color: var(--text-primary);
}

.modal-card textarea {
  background-color: var(--navbar-color);
  color: var(--text-primary);
}

.modal-card label{
  color: var(--text-primary);
  text-align: left;
}
