.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to bottom left, #fff, #0799E6,#0463B9);
}

body::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

body{
  margin: 0;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}
