:root {
    --background: linear-gradient(to bottom left, #fff, #0799E6, #0463B9);
    --card-color: #f7f7f7;
    --navbar-color: rgb(250, 250, 250);
    --navlinks-hover: #000;
    --border-bottom: 1.5px solid black;
    --navbar-icons: #009ad9;
}

[data-theme='dark'] {
    --background: linear-gradient(to bottom right, rgb(0, 0, 0), #262626, #353535);
    --card-color: rgb(41, 41, 41);
    --text-primary: #fff;
    --text-secondary: rgb(255, 255, 76);
    --shadow: 0 0 4px rgba(255, 255, 255, 0.3);
    --navbar-color: rgb(125, 125, 125);
    --navlinks-hover: #cdcdcd;
    --border-bottom: 1.5px solid white;
    --navbar-icons: #fff;
}

[data-theme='blue'] {
    --background: blue;
    --card-color: #fff;
}

